In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
s1 = Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [3]:
s1+s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [5]:
s3=s1+s2
s3

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [9]:
s3 == None

a    False
c    False
d    False
e    False
f    False
g    False
dtype: bool

In [10]:
s3 == np.nan

a    False
c    False
d    False
e    False
f    False
g    False
dtype: bool

In [11]:
s3.isnull()

a    False
c    False
d     True
e    False
f     True
g     True
dtype: bool

In [13]:
s3[~s3.isnull()]

a    5.2
c    1.1
e    0.0
dtype: float64

In [14]:
s3 is np.nan

False

In [15]:
df1 = DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                index=['Ohio', 'Texas', 'Colorado'])
df2 = DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df1

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [16]:
df2

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [17]:
# 对于 DataFrame ，对齐操作会同时发生在 行 和 列 上
df1+df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN