In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
obj = Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int32

In [3]:
obj.index.is_unique

False

In [4]:
# 如果某个索引对应多个值，则返回一个 Series ；而对应单个值，则返回一个标量值
obj['a']

a    0
a    1
dtype: int32

In [16]:
obj['c']

4

In [14]:
type(obj['a'])

pandas.core.series.Series

In [17]:
df = DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

          0         1         2
a -0.963997 -0.847544 -0.458008
a -0.402689 -0.351901  1.835207
b -0.114240 -2.123544 -0.499981
b  0.841593 -1.201310  0.584372

In [18]:
df.ix['b']

          0         1         2
b -0.114240 -2.123544 -0.499981
b  0.841593 -1.201310  0.584372

In [20]:
df.ix['b', :1]

          0         1
b -0.114240 -2.123544
b  0.841593 -1.201310

In [25]:
df.ix['b', [1,2]]

          1         2
b -2.123544 -0.499981
b -1.201310  0.584372