In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [4]:
obj.name = 'test_data'

In [5]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
Name: test_data, dtype: float64

In [6]:
obj.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [7]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
Name: test_data, dtype: float64

In [11]:
obj_1 = obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0).copy()

In [12]:
obj_1

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
Name: test_data, dtype: float64

In [13]:
obj3 = Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])

In [14]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [16]:
# ffill 可以实现前向值填充
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [17]:
frame = DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'],
                  columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [18]:
frame.index

Index(['a', 'c', 'd'], dtype='object')

In [21]:
frame['Ohio']

a    0
c    3
d    6
Name: Ohio, dtype: int32

In [23]:
frame.ix['a']

Ohio          0
Texas         1
California    2
Name: a, dtype: int32

In [24]:
frame.T

            a  c  d
Ohio        0  3  6
Texas       1  4  7
California  2  5  8

In [25]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [26]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [27]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [28]:
frame.reindex(index=['a', 'b', 'c', 'd'], method='ffill',
              columns=states)

   Texas  Utah  California
a      1   NaN           2
b      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [31]:
frame.ix[['a', 'b', 'c', 'd'], states]

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0