In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [4]:
frame

               b         d         e
Utah    2.017959  0.373459  0.071173
Ohio   -0.388451  0.428910  0.350591
Texas  -1.357251 -1.450740 -0.220223
Oregon -0.887800  0.456806 -1.833049

In [5]:
np.abs(frame)

               b         d         e
Utah    2.017959  0.373459  0.071173
Ohio    0.388451  0.428910  0.350591
Texas   1.357251  1.450740  0.220223
Oregon  0.887800  0.456806  1.833049

In [6]:
f = lambda x: x.max() - x.min()

In [7]:
# 在 列 上 应用 f
frame.apply(f)

b    3.375210
d    1.907546
e    2.183640
dtype: float64

In [8]:
# 在 行 上 应用 f
frame.apply(f, axis=1)

Utah      1.946786
Ohio      0.817362
Texas     1.230517
Oregon    2.289855
dtype: float64

In [9]:
def f(x):
    return Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

            b         d         e
min -1.357251 -1.450740 -1.833049
max  2.017959  0.456806  0.350591

In [11]:
frame.apply(f,axis=1)

             min       max
Utah    0.071173  2.017959
Ohio   -0.388451  0.428910
Texas  -1.450740 -0.220223
Oregon -1.833049  0.456806

In [12]:
format = lambda x: '%.2f' % x
frame.applymap(format)

            b      d      e
Utah     2.02   0.37   0.07
Ohio    -0.39   0.43   0.35
Texas   -1.36  -1.45  -0.22
Oregon  -0.89   0.46  -1.83

In [14]:
frame['e'].map(format)

Utah       0.07
Ohio       0.35
Texas     -0.22
Oregon    -1.83
Name: e, dtype: object

In [16]:
# DataFrame.apply() 应用到 行 或 列
# DataFrame.applymap() 应用到 元素级

In [17]:
type(frame['e'])

pandas.core.series.Series

In [ ]:
# Series.map() 应用到元素级