In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'),
                  index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [3]:
frame

               b         d         e
Utah    2.797104  0.697178  0.103170
Ohio   -1.610471 -0.371528 -0.018550
Texas  -0.391350 -0.607898  0.631640
Oregon -0.486989  0.177892 -1.532556

In [4]:
np.abs(frame)

               b         d         e
Utah    2.797104  0.697178  0.103170
Ohio    1.610471  0.371528  0.018550
Texas   0.391350  0.607898  0.631640
Oregon  0.486989  0.177892  1.532556

In [5]:
f = lambda x: x.max() - x.min()

In [6]:
# 在 列 上 应用 f
frame.apply(f)

b    4.407576
d    1.305076
e    2.164196
dtype: float64

In [7]:
# 在 行 上 应用 f
frame.apply(f, axis=1)

Utah      2.693934
Ohio      1.591921
Texas     1.239538
Oregon    1.710448
dtype: float64

In [8]:
def f(x):
    return Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

            b         d         e
min -1.610471 -0.607898 -1.532556
max  2.797104  0.697178  0.631640

In [9]:
frame.apply(f,axis=1)

             min       max
Utah    0.103170  2.797104
Ohio   -1.610471 -0.018550
Texas  -0.607898  0.631640
Oregon -1.532556  0.177892

In [10]:
format = lambda x: '%.2f' % x
frame.applymap(format)

            b      d      e
Utah     2.80   0.70   0.10
Ohio    -1.61  -0.37  -0.02
Texas   -0.39  -0.61   0.63
Oregon  -0.49   0.18  -1.53

In [11]:
frame['e'].map(format)

Utah       0.10
Ohio      -0.02
Texas      0.63
Oregon    -1.53
Name: e, dtype: object

In [16]:
frame['e'] = frame['e'].map(format)
frame['e']

Utah       0.10
Ohio      -0.02
Texas      0.63
Oregon    -1.53
Name: e, dtype: object

In [12]:
# DataFrame.apply() 应用到 行 或 列
# DataFrame.applymap() 应用到 元素级

In [13]:
type(frame['e'])

pandas.core.series.Series

In [14]:
# Series.map() 应用到元素级