In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
obj = Series(range(4), index=['d', 'a', 'b', 'c'])
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int32

In [3]:
obj

d    0
a    1
b    2
c    3
dtype: int32

In [4]:
frame = DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],
                  columns=['d', 'a', 'b', 'c'])
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [5]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [6]:
# ascending 上升，默认为升序排列
frame.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [7]:
obj = Series([4, 7, -3, 2])
obj.order()

C:\Users\rHotD\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: order is deprecated, use sort_values(...)
  from ipykernel import kernelapp as app

2   -3
3    2
0    4
1    7
dtype: int64

In [8]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [10]:
obj = Series([4, np.nan, 7, np.nan, -3, 2])
# 任何缺失值默认会放到 Series 的尾部
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [12]:
obj.fillna(0)

0    4.0
1    0.0
2    7.0
3    0.0
4   -3.0
5    2.0
dtype: float64

In [13]:
frame = DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

   a  b
0  0  4
1  1  7
2  0 -3
3  1  2

In [17]:
frame.sort_values(by='b', ascending=False)

   a  b
1  1  7
0  0  4
3  1  2
2  0 -3

In [18]:
frame.sort_values(by=['a', 'b'])

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7

In [19]:
obj = Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [ ]:
# 没看懂排名 rank 这地方说的是啥玩意，用到的时候再回来看好了