In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
obj = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [3]:
# 得到 series 中唯一值数组，返回的唯一值是未排序的
uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [4]:
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [15]:
# 可用于任何数组或序列
pd.value_counts(obj.values, sort=False)

c    3
b    2
a    3
d    1
dtype: int64

In [16]:
# 判断矢量化集合的成员资格(Series 或是 DataFrame均可)
mask = obj.isin(['b', 'c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [19]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [17]:
df = DataFrame(np.arange(12).reshape(3,4))
df

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [20]:
mark = df.isin([1, 2])
mark

       0      1      2      3
0  False   True   True  False
1  False  False  False  False
2  False  False  False  False

In [21]:
df[mark]

    0    1    2   3
0 NaN  1.0  2.0 NaN
1 NaN  NaN  NaN NaN
2 NaN  NaN  NaN NaN

In [22]:
data = DataFrame({'Qu1': [1, 3, 4, 3, 4],
                  'Qu2': [2, 3, 1, 2, 3],
                  'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [23]:
result = data.apply(pd.value_counts).fillna(0)
result
# result 的 index 为 data 中数据的 unique

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0