In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
from numpy import nan as NA
data = Series([1, NA, 3.5, NA, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [3]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [4]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [6]:
data = DataFrame([[1., 6.5, 3.], [1., NA, NA],
                  [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [7]:
# dropna 默认丢弃任何含有 缺失值 的行
cleaned

     0    1    2
0  1.0  6.5  3.0

In [8]:
# 传入 how='all' 将只丢弃全为 NA 的行
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [9]:
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [10]:
# 丢弃 全为 NA 值的 列
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [11]:
df = DataFrame(np.random.randn(7, 3))
df.ix[:4, 1] = NA; df.ix[:2, 2] = NA
df

          0         1         2
0 -0.400111       NaN       NaN
1 -0.291393       NaN       NaN
2  1.173405       NaN       NaN
3  0.170705       NaN -0.321915
4  0.944743       NaN  1.087481
5  0.178314  0.380135 -0.125604
6 -1.329263  0.950384 -0.007579

In [12]:
df.dropna(thresh=3)

          0         1         2
5  0.178314  0.380135 -0.125604
6 -1.329263  0.950384 -0.007579