In [3]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [5]:
df = DataFrame(np.random.randn(7, 3))
df.ix[:4, 1] = np.nan; df.ix[:2, 2] = np.nan
df

          0         1         2
0  0.869261       NaN       NaN
1 -0.752635       NaN       NaN
2  0.376072       NaN       NaN
3 -1.371235       NaN  0.397258
4 -0.844380       NaN  1.211986
5  1.975964 -0.383613  1.237044
6 -0.546533 -0.150895  0.318883

In [6]:
df.fillna(0)

          0         1         2
0  0.869261  0.000000  0.000000
1 -0.752635  0.000000  0.000000
2  0.376072  0.000000  0.000000
3 -1.371235  0.000000  0.397258
4 -0.844380  0.000000  1.211986
5  1.975964 -0.383613  1.237044
6 -0.546533 -0.150895  0.318883

In [7]:
# 对不同的列填充不同的值
df.fillna({1: 0.5, 3: -1})

          0         1         2
0  0.869261  0.500000       NaN
1 -0.752635  0.500000       NaN
2  0.376072  0.500000       NaN
3 -1.371235  0.500000  0.397258
4 -0.844380  0.500000  1.211986
5  1.975964 -0.383613  1.237044
6 -0.546533 -0.150895  0.318883

In [8]:
df.fillna({1: 0.5, 2: -1})

          0         1         2
0  0.869261  0.500000 -1.000000
1 -0.752635  0.500000 -1.000000
2  0.376072  0.500000 -1.000000
3 -1.371235  0.500000  0.397258
4 -0.844380  0.500000  1.211986
5  1.975964 -0.383613  1.237044
6 -0.546533 -0.150895  0.318883

In [9]:
# 默认返回新对象，但也可以对现有对象进行修改
# 总是返回被填充对象的引用
_ = df.fillna(0, inplace=True)
df

          0         1         2
0  0.869261  0.000000  0.000000
1 -0.752635  0.000000  0.000000
2  0.376072  0.000000  0.000000
3 -1.371235  0.000000  0.397258
4 -0.844380  0.000000  1.211986
5  1.975964 -0.383613  1.237044
6 -0.546533 -0.150895  0.318883

In [14]:
df = DataFrame(np.random.randn(6, 3))
df.ix[2:, 1] = np.nan; df.ix[4:, 2] = np.nan
df

          0         1         2
0 -0.954061 -0.177070  1.616739
1  0.682930  1.595669  1.577973
2 -1.442109       NaN  0.712078
3 -0.203838       NaN -0.835872
4 -1.072035       NaN       NaN
5 -0.280397       NaN       NaN

In [15]:
df.fillna(method='ffill')

          0         1         2
0 -0.954061 -0.177070  1.616739
1  0.682930  1.595669  1.577973
2 -1.442109  1.595669  0.712078
3 -0.203838  1.595669 -0.835872
4 -1.072035  1.595669 -0.835872
5 -0.280397  1.595669 -0.835872

In [16]:
df.fillna(method='ffill', limit=2)

          0         1         2
0 -0.954061 -0.177070  1.616739
1  0.682930  1.595669  1.577973
2 -1.442109  1.595669  0.712078
3 -0.203838  1.595669 -0.835872
4 -1.072035       NaN -0.835872
5 -0.280397       NaN -0.835872

In [18]:
# 将缺失值替换为 均值
data = Series([1., np.nan, 3.5, np.nan, 7])
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64