In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
frame = DataFrame(np.arange(12).reshape((4, 3)),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=[['Ohio', 'Ohio', 'Colorado'],
                           ['Green', 'Red', 'Green']])
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [3]:
frame.sum(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [4]:
frame.sum(level='color', axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10