In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                 'data1': range(7)})
df2 = DataFrame({'key': ['a', 'b', 'd'],
                 'data2': range(3)})
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [3]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [7]:
df1 = df1.drop([0,1,2])
df1

   data1 key
3      3   c
4      4   a
5      5   a
6      6   b

In [8]:
pd.merge(df1, df2)

   data1 key  data2
0      4   a      0
1      5   a      0
2      6   b      1

In [9]:
df1 + df2

   data1  data2  key
0    NaN    NaN  NaN
1    NaN    NaN  NaN
2    NaN    NaN  NaN
3    NaN    NaN  NaN
4    NaN    NaN  NaN
5    NaN    NaN  NaN
6    NaN    NaN  NaN

In [11]:
df1 = DataFrame({'key': range(7),
                 'data1': range(7)})
df2 = DataFrame({'key': range(3),
                 'data2': range(3)})
df1

   data1  key
0      0    0
1      1    1
2      2    2
3      3    3
4      4    4
5      5    5
6      6    6

In [12]:
df2

   data2  key
0      0    0
1      1    1
2      2    2

In [13]:
df1 = df1.drop([0,1,2])
df1

   data1  key
3      3    3
4      4    4
5      5    5
6      6    6

In [14]:
df1+df2

   data1  data2  key
0    NaN    NaN  NaN
1    NaN    NaN  NaN
2    NaN    NaN  NaN
3    NaN    NaN  NaN
4    NaN    NaN  NaN
5    NaN    NaN  NaN
6    NaN    NaN  NaN

In [15]:
df1.add(df2,fill_value=0)

   data1  data2  key
0    NaN    0.0  0.0
1    NaN    1.0  1.0
2    NaN    2.0  2.0
3    3.0    NaN  3.0
4    4.0    NaN  4.0
5    5.0    NaN  5.0
6    6.0    NaN  6.0

In [17]:
df3 = DataFrame(np.zeros((7,3)))
df3.columns = ['data1', 'data2', 'key']
df3

   data1  data2  key
0    0.0    0.0  0.0
1    0.0    0.0  0.0
2    0.0    0.0  0.0
3    0.0    0.0  0.0
4    0.0    0.0  0.0
5    0.0    0.0  0.0
6    0.0    0.0  0.0

In [21]:
df3 = df3.add(df1, fill_value=0)
df3

   data1  data2   key
0    0.0    0.0   0.0
1    0.0    0.0   0.0
2    0.0    0.0   0.0
3    6.0    0.0   6.0
4    8.0    0.0   8.0
5   10.0    0.0  10.0
6   12.0    0.0  12.0

In [22]:
df3 = df3.add(df2, fill_value=0)
df3

   data1  data2   key
0    0.0    0.0   0.0
1    0.0    1.0   1.0
2    0.0    2.0   2.0
3    6.0    0.0   6.0
4    8.0    0.0   8.0
5   10.0    0.0  10.0
6   12.0    0.0  12.0