In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
np.set_printoptions(precision=4)

In [2]:
arr = np.arange(12).reshape((3, 4))

In [3]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [4]:
np.concatenate([arr, arr], axis=1)

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

In [5]:
s1 = Series([0, 1], index=['a', 'b'])
s2 = Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = Series([5, 6], index=['f', 'g'])

In [6]:
pd.concat([s1, s2, s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [7]:
pd.concat([s1, s2, s3], axis=1)

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [9]:
s4 = pd.concat([s1 * 5, s3])
s4

a    0
b    5
f    5
g    6
dtype: int64

In [10]:
pd.concat([s1, s4], axis=1)

     0  1
a  0.0  0
b  1.0  5
f  NaN  5
g  NaN  6

In [11]:
# 取交集
pd.concat([s1, s4], axis=1, join='inner')

   0  1
a  0  0
b  1  5

In [12]:
pd.concat([s1, s4], axis=1, join_axes=[['a', 'c', 'b', 'e']])

     0    1
a  0.0  0.0
c  NaN  NaN
b  1.0  5.0
e  NaN  NaN

In [13]:
result = pd.concat([s1, s1, s3], keys=['one', 'two', 'three'])

In [14]:
result

one    a    0
       b    1
two    a    0
       b    1
three  f    5
       g    6
dtype: int64

In [15]:
# Much more on the unstack function later
result.unstack()

         a    b    f    g
one    0.0  1.0  NaN  NaN
two    0.0  1.0  NaN  NaN
three  NaN  NaN  5.0  6.0

In [16]:
pd.concat([s1, s2, s3], axis=1, keys=['one', 'two', 'three'])

   one  two  three
a  0.0  NaN    NaN
b  1.0  NaN    NaN
c  NaN  2.0    NaN
d  NaN  3.0    NaN
e  NaN  4.0    NaN
f  NaN  NaN    5.0
g  NaN  NaN    6.0

In [17]:
df1 = DataFrame(np.arange(6).reshape(3, 2), index=['a', 'b', 'c'],
                columns=['one', 'two'])
df2 = DataFrame(5 + np.arange(4).reshape(2, 2), index=['a', 'c'],
                columns=['three', 'four'])
df1

   one  two
a    0    1
b    2    3
c    4    5

In [18]:
df2

   three  four
a      5     6
c      7     8

In [19]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'])

  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [20]:
pd.concat({'level1': df1, 'level2': df2}, axis=1)

  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [21]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'],
          names=['upper', 'lower'])

upper level1     level2
lower    one two  three four
a          0   1    5.0  6.0
b          2   3    NaN  NaN
c          4   5    7.0  8.0

In [22]:
df1 = DataFrame(np.random.randn(3, 4), columns=['a', 'b', 'c', 'd'])
df2 = DataFrame(np.random.randn(2, 3), columns=['b', 'd', 'a'])

In [23]:
df1

          a         b         c         d
0  0.823389  0.550252 -1.055864 -0.132998
1 -0.040106 -0.375747  0.212118 -0.584360
2 -3.189210 -0.403181  0.382793 -1.277182

In [24]:
df2

          b         d         a
0 -0.247930 -0.712185  0.408087
1  0.554136 -0.336873  0.260005

In [25]:
pd.concat([df1, df2], ignore_index=True)

          a         b         c         d
0  0.823389  0.550252 -1.055864 -0.132998
1 -0.040106 -0.375747  0.212118 -0.584360
2 -3.189210 -0.403181  0.382793 -1.277182
3  0.408087 -0.247930       NaN -0.712185
4  0.260005  0.554136       NaN -0.336873

In [28]:
# 保留连接轴上的索引
pd.concat([df1, df2], ignore_index=False)

          a         b         c         d
0  0.823389  0.550252 -1.055864 -0.132998
1 -0.040106 -0.375747  0.212118 -0.584360
2 -3.189210 -0.403181  0.382793 -1.277182
0  0.408087 -0.247930       NaN -0.712185
1  0.260005  0.554136       NaN -0.336873